/* Custom styles + customizations + helpers classes */
/* @author dassiorleando */

/* Bootstrap customizations: START */
$theme-colors: (
  "primary": #552a7b
);
/* Bootstrap customizations: END */

// Import Bootstrap and its default variables
@import "~bootstrap/scss/bootstrap";

// Importing react-toastify css file
@import '~react-toastify/dist/ReactToastify.css';

// Some general classes
.no-decoration {
  text-decoration: none;
}

.contactify-spinner {
  width: 10rem;
  height: 10rem;
}

.text-center {
  text-align: center;
}

.center-block {
  margin: auto;
  display: block;
}

.cursor-pointer {
  cursor: pointer;
}

.m-auto {
  margin: auto;
}

// Helpers (generated) - START

// Font weight: multiple of 100
@for $weight from 1 through 9 {
  .fw-#{$weight * 100} {
      font-weight: #{$weight * 100};
  }
}

// Font size: multiple of 10
@for $size from 1 through 10 {
  .fs-#{$size * 10} {
      font-size: #{$size * 10}px;
  }
}

// Width dimension: multiple of 5
@for $width from 1 through 20 {
  .w-#{$width * 5} {
    width: #{$width * 5} + '%';
  }
}

// Margin and padding: mutliple of 10
@for $dim from 1 through 10 {
  .m-#{$dim * 10} {
    margin: #{$dim * 10}px !important;
  }
  .mt-#{$dim * 10} {
    margin-top: #{$dim * 10}px !important;
  }
  .mb-#{$dim * 10} {
    margin-bottom: #{$dim * 10}px !important;
  }
  .ml-#{$dim * 10} {
    margin-left: #{$dim * 10}px !important;
  }
  .mr-#{$dim * 10} {
    margin-right: #{$dim * 10}px !important;
  }
  .p-#{$dim * 10} {
    padding: #{$dim * 10}px !important;
  }
  .pt-#{$dim * 10} {
    padding-top: #{$dim * 10}px !important;
  }
  .pb-#{$dim * 10} {
    padding-bottom: #{$dim * 10}px !important;
  }
  .pl-#{$dim * 10} {
    padding-left: #{$dim * 10}px !important;
  }
  .pr-#{$dim * 10} {
    padding-right: #{$dim * 10}px !important;
  }
}
// Helpers - END
